<h1>Titolo: <%= @article.title %></h1>
<h3>Autore: <%= @article.author %></h3>
<p>Testo: <br> <%= @article.body %></p>




<button ><%= link_to "Edit", edit_article_path(@article) %></button>
<button ><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></button>


<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

